    <meta itemprop="version" content="{{ site.github.build_revision }}">
    <meta itemprop="license" content="https://creativecommons.org/licenses/by-nc-sa/4.0/">
    <meta itemprop="copyrightHolder" content="{{ site.author.name }}">
    <meta itemprop="copyrightYear" content="2005-{{ 'now' | date: "%Y" }}">
    <link rel="author" href="{{ '/humans.txt' | absolute_url }}" type="text/plain">
    <link rel="icon" href="{{ '/assets/images/favicon/favicon.ico' | absolute_url }}">
    <link rel="shortcut icon" href="{{ '/assets/images/favicon/favicon.ico' | absolute_url }}" />
    <link rel="icon" type="image/x-icon" sizes="16x16 32x32 64x64" href="{{ '/assets/images/favicon/favicon.ico' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="57x57"   href="{{ '/assets/images/favicon/Icon-57.png' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="60x60"   href="{{ '/assets/images/favicon/Icon-60.png' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="72x72"   href="{{ '/assets/images/favicon/Icon-72.png' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="76x76"   href="{{ '/assets/images/favicon/Icon-76.png' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ '/assets/images/favicon/Icon-114.png' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ '/assets/images/favicon/Icon-120.png' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ '/assets/images/favicon/Icon-144.png' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ '/assets/images/favicon/Icon-152.png' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="167x167" href="{{ '/assets/images/favicon/Icon-167.png' | absolute_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicon/Icon-180.png' | absolute_url }}">
    <link rel="icon" sizes="32x32"     href="{{ '/assets/images/favicon/Icon-32.png' | absolute_url }}">
    <link rel="icon" sizes="57x57"     href="{{ '/assets/images/favicon/Icon-57.png' | absolute_url }}">
    <link rel="icon" sizes="72x72"     href="{{ '/assets/images/favicon/Icon-72.png' | absolute_url }}">
    <link rel="icon" sizes="76x76"     href="{{ '/assets/images/favicon/Icon-76.png' | absolute_url }}">
    <link rel="icon" sizes="90x90"     href="{{ '/assets/images/favicon/Icon-90.png' | absolute_url }}">
    <link rel="icon" sizes="96x96"     href="{{ '/assets/images/favicon/Icon-96.png' | absolute_url }}">
    <link rel="icon" sizes="120x120"   href="{{ '/assets/images/favicon/Icon-120.png' | absolute_url }}">
    <link rel="icon" sizes="128x128"   href="{{ '/assets/images/favicon/Icon-128.png' | absolute_url }}">
    <link rel="icon" sizes="144x144"   href="{{ '/assets/images/favicon/Icon-144.png' | absolute_url }}">
    <link rel="icon" sizes="152x152"   href="{{ '/assets/images/favicon/Icon-152.png' | absolute_url }}">
    <link rel="icon" sizes="180x180"   href="{{ '/assets/images/favicon/Icon-180.png' | absolute_url }}">
    <link rel="icon" sizes="192x192"   href="{{ '/assets/images/favicon/Icon-192.png' | absolute_url }}">
    <link rel="icon" sizes="195x195"   href="{{ '/assets/images/favicon/Icon-195.png' | absolute_url }}">
    <link rel="icon" sizes="196x196"   href="{{ '/assets/images/favicon/Icon-196.png' | absolute_url }}">
    <link rel="icon" sizes="228x228"   href="{{ '/assets/images/favicon/Icon-228.png' | absolute_url }}">
    <link rel="icon" sizes="256x256"   href="{{ '/assets/images/favicon/Icon-256.png' | absolute_url }}">
    <link rel="icon" sizes="512x512"   href="{{ '/assets/images/favicon/Icon-512.png' | absolute_url }}">
    <link rel="icon" sizes="1024x1024" href="{{ '/assets/images/favicon/Icon-1024.png' | absolute_url }}">
    <meta name="msapplication-TileColor" content="#013366">
    <meta name="msapplication-TileImage" content="{{ '/assets/images/favicon/Icon-144.png' | absolute_url }}">
    <meta name="theme-color"      content="#013366">
    <meta name="application-name" content="{{ site.title }}">
    <meta name="msapplication-tooltip" content="{{ site.title }}">
    <meta name="msapplication-config"  content="{{ '/assets/images/favicon/browserconfig.xml' | absolute_url }}">
    <link rel="manifest" href="{{ '/assets/images/favicon/manifest.json' | absolute_url }}">
