<meta itemprop="version" content="{{ site.github.build_revision }}">
    <meta itemprop="license" content="https://creativecommons.org/licenses/by-nc-sa/4.0/">
    <meta itemprop="copyrightHolder" content="{{ site.author.name }}">
    <meta itemprop="copyrightYear" content="2007-{{ 'now' | date: "%Y" }}">
    <link rel="author" href="https://justin.hartman.me/humans.txt" type="text/plain">
    <link rel="icon" href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/favicon.ico">
    <link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/favicon.ico" />
    <link rel="icon" type="image/x-icon" sizes="16x16 32x32 64x64" href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57"   href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-57.png">
    <link rel="apple-touch-icon" sizes="60x60"   href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-60.png">
    <link rel="apple-touch-icon" sizes="72x72"   href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-72.png">
    <link rel="apple-touch-icon" sizes="76x76"   href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-180.png">
    <link rel="icon" sizes="32x32"     href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-32.png">
    <link rel="icon" sizes="57x57"     href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-57.png">
    <link rel="icon" sizes="72x72"     href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-72.png">
    <link rel="icon" sizes="76x76"     href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-76.png">
    <link rel="icon" sizes="90x90"     href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-90.png">
    <link rel="icon" sizes="96x96"     href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-96.png">
    <link rel="icon" sizes="120x120"   href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-120.png">
    <link rel="icon" sizes="128x128"   href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-128.png">
    <link rel="icon" sizes="144x144"   href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-144.png">
    <link rel="icon" sizes="152x152"   href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-152.png">
    <link rel="icon" sizes="180x180"   href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-180.png">
    <link rel="icon" sizes="192x192"   href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-192.png">
    <link rel="icon" sizes="195x195"   href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-195.png">
    <link rel="icon" sizes="196x196"   href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-196.png">
    <link rel="icon" sizes="228x228"   href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-228.png">
    <link rel="icon" sizes="256x256"   href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-256.png">
    <link rel="icon" sizes="512x512"   href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-512.png">
    <link rel="icon" sizes="1024x1024" href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-1024.png">
    <meta name="msapplication-TileColor" content="#013366">
    <meta name="msapplication-TileImage" content="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/Icon-144.png">
    <meta name="theme-color" content="#013366">
    <meta name="application-name" content="{{ site.title }}">
    <meta name="msapplication-tooltip" content="{{ site.title }}">
    <meta name="msapplication-config" content="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/browserconfig.xml">
    <link rel="manifest" href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon/manifest.json">
