---
layout: archive
permalink: /categories/
title: "Posts by Category"
author_profile: true
classes: wide
sitemap:
    changefreq: weekly
    priority: 0.9
last_modified_at: 2018-04-03 22:46:32 +02:00
---

{% include group-by-array collection=site.technical field="categories" %}

{% for category in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h1 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h1>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}
