---
layout: archive
title: "Revival of the Debian Wiki"
permalink: /linux/
redirect_from:
  - /debian/
  - /server/
  - /mail-server/
  - /lamp/
  - /ubuntu/
  - /linux/Category:Debian_Server/
author_profile: true
classes: wide
header:
  overlay_image: /assets/images/pages/linux.jpg
  overlay_filter: rgba(0, 0, 0, 0.5)
  caption: "Photo by [**Startup Stock Photos from Pexels**](https://www.pexels.com/photo/schedule-planning-startup-launching-7376/)"
  teaser: '/assets/images/pages/linux_580x300.jpg'
excerpt: In 2007 I [launched the Debian Wiki](/projects/debian-wiki-launched.html), a collection of Linux-based HOWTOs which became very popular, but in 2014 Russian hackers took over my domain name and I lost everything. The full history is [available here](/howto-history.html). This section is a revival of the original HOWTOs, plus I've introduced my Linux-related blog posts as well. If you're ***nix** inclined, enjoy.
sitemap:
    changefreq: weekly
    priority: 0.9
last_modified_at: 2018-03-20 01:21 +02:00
---
<div class="grid__wrapper">
    <h1 id="linux" class="archive__subtitle">Linux</h1>
  {% for post in site.linux %}
    {% include archive-single.html %}
  {% endfor %}
</div>
