---
layout: archive
title: "Projects that keep me out of trouble"
permalink: /projects/
author_profile: true
header:
  overlay_image: /assets/images/pages/projects.jpg
  overlay_filter: rgba(0, 0, 0, 0.5)
  caption: "Photo by [**Startup Stock Photos from Pexels**](https://www.pexels.com/photo/schedule-planning-startup-launching-7376/)"
  teaser: '/assets/images/pages/projects_580x300.jpg'
excerpt: It all started in a garage. Literally. These days I still find myself hacking away in my private space, looking to change the world. Here's some of my latest projects that inspire, create purpose and drive me closer to my ultimate goal.
sitemap:
    changefreq: monthly
    priority: 0.9
last_modified_at: 2020-08-06T00:32:32+02:00
---
<div class="grid__wrapper">
    <h2 id="projects" class="archive__subtitle">Projects</h2>

  {% for post in site.projects %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>
