<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} off
# Rewrite to HTTPS:
# Don't put www. here. If it is already there it will be included
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>
